<table border=1>
    {{range .}} <!-- 遍历外层切片 -->
        <tr>
            {{range .}} <!-- 遍历内层切片 -->
                <td>{{.}}</td>
            {{end}}
        </tr>
    {{end}}
</table>
<i>备注：每个片区的第一个成员为该片区的负责人</i>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        td:first-child, th:first-child {
            background-color: #b3d9f7;
            font-weight: bold;
        }
    </style>
